<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
</head>
<body style="background:black;color:rgb(255, 255, 255);text-align:center;">
    <h1>Вхід</h1>
    <form action="/login" method="post">
        <input type="text" name="username" placeholder="Логін"><br><br>
        <input type="password" name="password" placeholder="Пароль"><br><br>
        <button type="submit">Увійти</button>
    </form>
    <br>
    <a href="/register" style="color:rgb(255, 255, 255);">Зареєструватися</a>
</body>
</html>